<body> 
  <div id = "HOME" class = "MusicThemeBG">

    <!--MENU BAR-->
    <div class="topnav">
      <div class="formatLogo">
        <a><img [src]="LOGO.img" width="80" height="75"></a> 
        <p class="logoText"><span class="bold">Music</span><span class="thin">Theme</span></p> 
      </div>
      
      <div>
        <a href="#HOME" class="formatMenu">HOME</a>
        <a href="#NEWS" class="formatMenu">NEWS</a>
        <a href="#EVENT" class="formatMenu">EVENT</a>
        <a href="#ABOUT" class="formatMenu">ABOUT</a>
      </div>
    </div>

    <!--HERO-->    
    <div class="tablesCSS">
      <!--4x1-->
      <table>
        <tr>
          <th class="formatHero">Music theme for Drupal</th>
        </tr>

        <tr>
          <th>
              <hr class="hero-hr">
          </th>
        </tr>

        <tr>
          <th>

            <h1>
              <span class="bold">Music</span><span class="thin">Theme</span>
            </h1>

          </th>
        </tr>

        <tr>
          <th>
              <button class="button">READ MORE</button>
          </th>
        </tr>

      </table>
    </div>

</div>

<!--LATEST NEWS -->
<div id = "NEWS" class = "newsBG">  
  <div class = "tablesCSS">
    <!--6x5-->
    <table>

      <tr>
        <th colspan="5" style="text-align: left;">
          <h2>LATEST NEWS</h2>
        </th>
      </tr>

      <tr>
        <th><h3>News title</h3></th>
        <td class ="whitespace"></td>
        <th><h3>News title</h3></th>
        <td class ="whitespace"></td>
        <th><h3>News title</h3></th>
      </tr>

      <tr>
        <td class="date">10.01.2020</td>
        <td class ="whitespace"></td>
        <td class="date">10.01.2020</td>
        <td class ="whitespace"></td>
        <td class="date">10.01.2020</td>
      </tr>

      <tr>
        <td><img [src]="mic.img"></td>
        <td class ="whitespace"></td>
        <td><img [src]="dj.img"></td>
        <td class ="whitespace"></td>
        <td><img [src]="df.img"></td>
      </tr>

      <tr>
        <td class="description">Red Hot Chili Peppers are pleased to perform at Band Together Bay Area at the Bill Graham Civic Auditorium, in San Francisco, CA on December 14th.</td>
        <td class ="whitespace"></td>
        <td class="description">Red Hot Chili Peppers are pleased to perform at Band Together Bay Area at the Bill Graham Civic Auditorium, in San Francisco, CA on December 14th.</td>
        <td class ="whitespace"></td>
        <td class="description">Red Hot Chili Peppers are pleased to perform at Band Together Bay Area at the Bill Graham Civic Auditorium, in San Francisco, CA on December 14th.</td>
      </tr>

      <tr>
        <td> <a href="#" class="read-more">Read more <span class="arrow">&gt;</span></a></td>
        <td class ="whitespace"></td>
        <td> <a href="#" class="read-more">Read more <span class="arrow">&gt;</span></a></td>
        <td class ="whitespace"></td>
        <td> <a href="#" class="read-more">Read more <span class="arrow">&gt;</span></a></td>
      </tr>

    </table>
  </div>
</div>

<!--LATEST EVENTS-->
<div id = "EVENT" class = "eventsBG">
  <div class = "tablesCSS">
    <!--2x3-->
    <table>

      <tr>
        <td rowspan="3" class ="imgSpace"> <img [src]="vinyl.img"></td>
      </tr>

      <tr>
        <td class ="whitespace"></td>
        <td>
          <h2>LATEST EVENTS</h2>
        </td>
      </tr>

      <tr>
        <td class ="whitespace"></td>
        <td class="description">Nam nisi tortor, lobortis sit amet elit nec, gravida fringilla eros. Donec tempor risus at sapien commodo vehicula. Mauris id dignissim odio. Phasellus faucibus aliquam neque vel rhoncus. Curabitur consequat</td>
      </tr>

    </table>
  </div>
</div>


<!--ABOUT ME-->
<div id = "ABOUT"class = "aboutMeBG">
  <div class = "tablesCSS">

    <div class="square1"></div> <!--Kvadrat1-->
    <div class="square2"></div> <!--Kvadrat1-->

    <!--2x3-->
    <table >

      <tr>
        <td>
          <h2>ABOUT ME</h2>
        </td>
        <td class ="whitespace"></td>
        <td rowspan="2" class ="imgAboutMe">         
          <img [src]="singer.img"> 
          
        </td>   
      </tr>

      <tr>
        <td class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut enim ligula. Vestibulum ac pharetra risus. Mauris egestas, risus eget posuere vulputate, dolor risus molestie velit, in rutrum felis justo et velit. Praesent finibus dui quis neque hendrerit, sed dictum nisl scelerisque.</td>
        <td class ="whitespaceAboutMe"></td>        
      </tr>
      
    </table>
  </div>
</div>
</body>

<!--FOOTER-->
<footer>
  <div class="footerNad">
    <a href="#" class="footerPovezava">Terms And Conditions &nbsp;</a>
    <a href="#" class="footerPovezava">Privacy&nbsp;</a>
    <a href="#" class="footerPovezava">Contact</a>
  </div>
  <div class="textF">Created by:<a href="#">AGILEDROP</a></div>
</footer>